@page "/"


<div class="main-container">
    <h1>Todo App</h1>

    <div class="todo-container">
        <input type="text" @bind="todoInput" />
        <button @onclick="AddTodo">Add</button>
    </div>



        <ul class="list">
            @foreach (var todo in todos)
            {
            <li>

                @todo.Body
                <span id="@todo.listId" @onclick="@(e=>HandleDelete(todo.listId))">&times;</span>
            </li>
            
            }
        </ul>
    </div>


@code
{
    public string todoInput { get; set; }
    public int id { get; set; } =1;
    public List<Items> todos = new List<Items>();

    public class Items
    {
        public string Body;
        public int listId;
    }

    public void AddTodo()
    {
        if (todoInput.Length>0)
        {
            todos.Add(new Items() { Body = todoInput, listId = id });
            id++;
            todoInput = "";
        }
        


    }
    public void HandleDelete(int listId)
    {
        todos.Remove(todos.Where(Item => Item.listId == listId).First());
    }
}
