@page "/"

    <div class="main-container">
        <h1>Todo App</h1>

        <div class="todo-container">
            <input type="text" />
            <button>Add</button>
        </div>

    </div>

