body {
    padding:0;
    margin:0;
}

h1{
    text-align:center;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    padding: 0;
    margin: 0;
    display: flex;
    position: absolute;
    width: 250px;
    left: 50%;
    justify-content: space-between;
    list-style: none;
    margin-top: 10px;
}
